.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  background-image: url("/img2.jpg");
}

